{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-5">Création d'un utilisateur :</h1>
        <div class="w-75 mx-auto">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary">Confirmer</button>
            {{ form_start(form) }}
        </div>
    </div>
{% endblock %}