{% extends 'base.html.twig' %}
{% block title %}Contact us!{% endblock %}

{% block body %}
<div class="container">
    <h1>Merci</h1>
    <div class="alert alert-primary">
        <p>Merci de nous avoir contacté {{ firstName }} {{ lastName }}, nous traiterons votre message au plus vite</p>
    </div>
</div>

{% endblock %}
