{% extends "ACContactBundle:Default:layout.html.twig" %}
{% block title %}
    Accueil
{% endblock %}
{% block header %}
{% endblock %}
{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        {{ flashMessage }}
    {% endfor %}
    <div class="">
        <a href="{{ path('ac_contact_form') }}">Posez-votre question ici!</a>
    </div>
    <div class="">
        <a href="{{ path('ac_contact_admin') }}">Admin</a>
    </div>
{% endblock %}
