<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
    </head>

    <body>
        <div class="container">
            <div id="header" class="">
                {% block header %}{% endblock %}
            </div>
            <div class="row">
                <div id="content" class="">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>

            <hr>

            <footer>
                <p>ACSEO {{ 'now'|date('Y') }}.</p>
            </footer>
        </div>

    </body>
    {% block javascripts %}
    {% endblock %}
</html>
